<div class="container">
    <h1 class="mt-3">Add BlogPost</h1>

    <form #form="ngForm" (ngSubmit)="onFormSubmit()">
        <div class="mt-2 mb-5">
            <div class="mt-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" [(ngModel)]="blogModel.title">
            </div>

            <div class="mt-3">
                <label for="urlHandle" class="form-label">Url Handle</label>
                <input type="text" class="form-control" id="urlHandle" name="urlHandle"
                    [(ngModel)]="blogModel.urlHandle">
            </div>

            <div class="mt-3">
                <label for="shortDescription" class="form-label">Short Description</label>
                <input type="text" class="form-control" id="shortDescription" name="shortDescription"
                    [(ngModel)]="blogModel.shortDescription">
            </div>

            <div class="mt-3">
                <label for="content" class="form-label">Content</label>
                <div class="d-flex flex-row">
                    <div class="col-6 p-2">
                        <textarea class="form-control" name="content" id="content"
                            style="height: 350px; max-height: 350px;" [(ngModel)]="blogModel.content">
                        </textarea>
                    </div>

                    <div class="col-6 p-2" style="max-height: 350px; overflow-y: scroll;">
                        <markdown [data]="blogModel.content"></markdown>
                    </div>
                </div>
            </div>

            <div class="mt-3">
                <label for="featuredImageUrl" class="form-label">Featured Image Url
                    <button type="button" class="btn btn-light" (click)="openImageSelector()">
                        Select Image
                    </button>
                </label>

                <ng-container *ngIf="blogModel.featuredImageUrl !== ''">
                    <div>
                        <img [src]="blogModel.featuredImageUrl" height="100" class="my-2">
                    </div>
                </ng-container>

                <input type="text" class="form-control" id="featuredImageUrl" name="featuredImageUrl"
                    [(ngModel)]="blogModel.featuredImageUrl">
            </div>

            <div class="mt-3">
                <label for="publishedDate" class="form-label">Published Date</label>
                <input type="date" class="form-control" id="publishedDate" name="publishedDate"
                    value="{{blogModel.publishedDate}}" [ngModel]="blogModel.publishedDate | date: 'yyy-MM-dd'"
                    (ngModelChange)="blogModel.publishedDate = $event">
            </div>

            <div class="mt-3">
                <label for="author" class="form-label">Author</label>
                <input type="text" class="form-control" id="author" name="author" [(ngModel)]="blogModel.author">
            </div>

            <div class="form-check mt-3">
                <input class="form-check-input" type="checkbox" name="isVisible" id="isVisible"
                    [(ngModel)]="blogModel.isVisible">
                <label class="form-check-label" for="isVisible">
                    Is Visible?
                </label>
            </div>

            <div class="mt-3">
                <label for="categories" class="form-label">Categories</label>

                <ng-container *ngIf="categories$ | async as categories">
                    <select [(ngModel)]="blogModel.categories" name="categories" id="categories" class="form-control"
                        multiple>
                        <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
                    </select>
                </ng-container>
            </div>

            <div class="mt-3">
                <button class="btn btn-success">Save</button>
            </div>
        </div>
    </form>
</div>

<div class="images-container-modal" [ngClass]="{'d-block':isImageSelectorVisible, 'd-none':!isImageSelectorVisible}">
    <button type="button" class="btn btn-light" style="position: fixed; top: 10px; right: 10px;"
        (click)="closeImageSelector()">X</button>
    <app-image-selector></app-image-selector>
</div>